{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
<div class="page-header">
    <h1 class="pull-left">Shipping Category</h1>
    <div class="pull-right" style="margin-top:15px">
    <a class="btn btn-large btn-primary" href="{{ path('shippingcategory_new') }}">
        <i class="icon-white icon-plus"></i> Create
    </a>
    </div>
    <div class="clearfix"></div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>terms</th>
            <th width="100">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% include 'AdminBundle:Taxonomies:list.html.twig' with {'taxonomies': taxonomies} %}
    </tbody>
</table>
{% endblock %}