{% for terms in children %}
<div class="pull-right">
    <div class="btn-group">
        <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
            <span class="icon-cog"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('taxonomies_update',{'id':terms.id}) }}"><i class="icon-pencil"></i> Edit</a></li>
            <li><a href="{{ path('taxonomies_delete',{'id':terms.id}) }}"><i class="icon-trash"></i> Delete</a></li>
        </ul>
    </div>
</div>
{{ terms.title }}
<hr>
    {% if terms.__children != 0 %}
        {% include 'AdminBundle:Taxonomies:subterms.html.twig' with {'children': terms.__children} %}
    {% endif %}
{% endfor %}