{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
<div class="page-header">
    <h1 class="pull-left">Products</h1>
    <div class="pull-right" style="margin-top:15px">
        <a class="btn btn-large btn-primary" href="{{ path('product_create') }}">
            <i class="icon-white icon-plus"></i> Create
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<table class="table table-bordered table-striped table-hovered">
    <thead>
        <tr>
            <th style="width: 120px;">SKU</th>
            <th>Name</th>
            <th style="width: 120px">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.sku }}</td>
            <td>{{ product.name }}</td>
            <td>
                <div class="btn-group">
                    <a href="#" class="btn"><i class="icon-eye-open"></i> Show in Store</a>
                    <a href="{{ path('product_update',{'id': product.id}) }}" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Show & Edit</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}