{% extends 'MopaBootstrapBundle::base.html.twig' %}
{% block head_style %}
{% stylesheets 
    'bundles/admin/css/bootstrap.css'
    'bundles/admin/css/*'
    filter="cssrewrite"

%}
<link rel="stylesheet" type="text/css" href="{{ asset_url }}">
{% endstylesheets %}
{% endblock head_style %}
{% block body_tag %}
<body>
{% endblock body_tag %}
{% block body %}

{% block navbar %}
{{ mopa_bootstrap_navbar('frontendNavbar') }}
{% endblock navbar %}

<div class="{% block container_class %}container{% endblock container_class %}">
    <div class="row">
        <div class="span3">test</div>
        <div class="span9">{% block content %}{%endblock%}</div>
    </div>
</div>

{% block foot_script %}
{%- javascripts
    'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
    '@AdminBundle/Resources/public/js/bootstrap.min.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@AdminBundle/Resources/public/js/*'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascript %}
{% endblock javascript %}
{% endblock foot_script %}
{% endblock body %}